body {
  background-image: url(grandtets.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

h1 {
  text-align:center;
  color:black;
}

h3 {
  text-align:right;

}

.container {
  text-align:center;
}

.site-links {
  text-align: center;
  width: 65%;
  margin: 0 auto;
  padding: 10px;
}

.links {
  display: inline-block;
  border: 2px solid white;
  text-align: center;
  width: 15%;
  padding: 5px;
  padding-right: 3%;
  padding-left: 3%;
  letter-spacing: 1px;
  }

.links a {
  color: white;
}
